.mw-float-right {
  z-index: 2;
  text-align: center;
  background-color: #292830;
  margin-right: 15px;
  position: relative;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 35%;
}

.mw-float-right::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/src/assets/background/stars.png') no-repeat center center;
  background-size: cover;
  z-index: -1;
  transform: rotate(180deg);
  transform-origin: center;
  opacity: 0.05;
}

.mw-article-photo {
  margin: 20px;
  justify-content: center;
}

.mw-article-photo img {
  width: 350px;
  height: 325px;
  border-radius: 2%;
}

.mw-article-title {
  margin-bottom: 25px;
}

.mw-article-favorite {
  position: absolute;
  right: 6px;
  top: 15px;
}

.mw-article-favorite button {
  color: transparent;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mw-article-favorite i {
  color: rgb(23, 228, 81);
  font-size: 32px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3), -1px -1px 0px rgba(0, 0, 0, 0.3),
    1px -1px 0px rgba(0, 0, 0, 0.3), -1px 1px -1px rgba(0, 0, 0, 0.3);
  transition: color 0.3s;
}

.mw-article-favorite i:hover {
  color: rgba(23, 228, 81, 0.8);
}

.mw-article-favorite.active i {
  color: rgb(255, 0, 0);
}

.mw-article-favorite.active i:hover {
  color: rgba(255, 0, 0, 0.8);
}

.mw-article-title h1 {
  color: whitesmoke;
  margin-top: 2px;
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  position: relative;
}

.mw-article-title h1::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid whitesmoke;
}

.mw-content {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.mw-content > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.mw-content > div:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 20px;
  right: 20px;
  border-bottom: 2px solid #ffffff;
}

.mw-content h5 {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

.mw-content span {
  margin-left: 10px;
}
