.mw-body {
  text-align: left;
  transition: margin-left 0.5s ease;
  margin-left: 275px;
  min-height: calc(100vh - 200px);
  max-width: calc(100vw);
  /* background-color: rgb(255, 0, 128); */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  align-items: stretch;
}

.mw-body.collapsed {
  margin-left: 50px;
}
.mw-body-header {
  display: flex;
  flex: 1;
  transition: margin-left 0.5s ease;
  min-height: calc(100vh - 200px);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  align-items: stretch;
}

.mw-brief-info {
  flex: 1;
  /* background-color: #0056b3; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: max-content;
  box-sizing: border-box;
  align-items: stretch;
}

.mw-main-info {
  width: 100%;
  /* background-color: #c1ff06; */
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: max-content;
  box-sizing: border-box;
  align-items: stretch;
}
.mw-brief-info h1 {
  font-size: 52px;
  color: #073037;
  font-family: "Open Sans";
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  border-bottom: 2px solid #073037;
  padding-bottom: 10px;
}

.mw-brief-info p {
  font-size: 32px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
}
.mw-main-info h2 {
  font-size: 36px;
  color: #073037;
  font-family: "Open Sans";
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  border-bottom: 2px solid #073037;
  padding-bottom: 10px;
}
.mw-main-info h3 {
  font-size: 32px;
  color: #073037;
  font-family: "Open Sans";
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  border-bottom: 2px solid #073037;
  padding-bottom: 10px;
}
.mw-main-info h4 {
  font-size: 28px;
  color: #073037;
  font-family: "Open Sans";
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  border-bottom: 2px solid #073037;
  padding-bottom: 10px;
}
.mw-main-info p {
  font-size: 18px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
}
