.mw-parser-output {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 200px);
}

.mw-side-nav {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 90px;
  width: 275px;
  height: calc(100vh - 90px);
  max-width: 275px;
  overflow-y: auto;
  background-color: #f0efef;
  color: #1f1e1e;
  transition: max-width 0.5s ease, width 0.5s ease;
  scrollbar-width: none;
  scrollbar-color: rgb(255, 0, 0) #333;
}

.mw-side-nav.collapsed {
  scrollbar-width: none;
  max-width: 50px;
  width: 50px;
}
.mw-side-nav::-webkit-scrollbar {
  width: 2px;
}
.mw-side-nav::-webkit-scrollbar-track {
  background-color: #333;
}
.mw-side-nav::-webkit-scrollbar-thumb {
  background-color: rgb(255, 0, 0);
  border-radius: 2px;
}
.mw-side-nav::-webkit-scrollbar-thumb:hover {
  background-color: rgb(255, 0, 0);
}

.nav-links {
  color: white;
  text-align: left;
  margin: 0;
  width: 100%;
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
  transition: opacity 0.1s ease, transform 0.5s ease, visibility 0.1s ease;
}

.mw-side-nav.collapsed .nav-links {
  opacity: 0;
  transform: translateX(-20px);
  visibility: hidden;
  pointer-events: none;
}

.nav-links ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-links li {
  position: relative;
}

.nav-links ol ol {
  padding-left: 15px;
}

.nav-links ol ol ol {
  padding-left: 35px;
}

.nav-links ol ol ol ol {
  padding-left: 55px;
}

.nav-links a {
  color: #292830;
  text-decoration: none;
  cursor: pointer;
  display: block;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  padding: 10px;
  position: relative;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.nav-links a::after {
  content: '';
  display: block;
  width: 2px;
  height: 100%;
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.5s ease;
}

.nav-links a:hover {
  background-color: rgb(229, 228, 228);
  color: #292830;
}

.nav-links a:hover::after {
  transform: scaleY(1);
}

.nav-links li::before {
  color: lightgray;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.nav-links ol ol li::before {
  left: -30px;
}

.nav-links ol ol ol li::before {
  left: -40px;
}

.nav-links ol ol ol ol li::before {
  left: -50px;
}

.mw-side-nav-control {
  border-color: aliceblue;
  margin-top: 15px;
  margin-bottom: 7px;
  display: flex;
}

.mw-side-nav-control i {
  margin-left: 6px;
  font-size: 36px;
  color: #292830;
}
