.favorite {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.favoriteMenu {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  min-width: 550px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  display: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.favoriteMenu.open {
  display: block;
}

.favoriteButton {
  background: whitesmoke;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
  justify-content: center;
}

.favoriteIcon {
  font-size: 24px;
  color: #333;
}

.favoriteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.favoriteHeader h1 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.favoriteHeaderButton {
  background: none;
  border: none;
  cursor: pointer;
}

.favoriteHeaderButton i {
  font-size: 20px;
  color: #333;
}

.favoriteContent {
  display: flex;
  flex-direction: column;
  max-height: 400px; /* Set a max height for the scrollable area */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Custom scrollbar styles */
.favoriteContent::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

.favoriteContent::-webkit-scrollbar-track {
  background-color: #333; /* Set the background of the scrollbar track */
}

.favoriteContent::-webkit-scrollbar-thumb {
  background-color: rgb(255, 0, 0); /* Set the color of the scrollbar thumb */
  border-radius: 2px; /* Optional: round the corners of the scrollbar thumb */
}

.favoriteContent::-webkit-scrollbar-thumb:hover {
  background-color: rgb(
    255,
    0,
    0
  ); /* Set the color of the scrollbar thumb on hover */
}

.favoriteContent ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%; /* Ensure the ul takes full width */
}

.favoriteContent li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.favoriteContent li:last-child {
  border-bottom: none;
}

.authorProfile {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  align-items: center;
  margin-right: 15px;
}

.authorProfile a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.authorProfile img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.authorProfile span {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
  text-align: center;
}

.favoriteArticle {
  display: flex;
  align-items: center;
  padding: 0px 5px 0px 0px;
  cursor: pointer;
}

.favoriteArticleDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.favoriteArticleDescription h1 {
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.favoriteArticleDescription span {
  font-size: 14px;
  color: #666;
}

.favoriteArticlePhoto {
  margin-left: 10px;
}

.favoriteArticlePhoto img {
  width: 100px;
  height: 75px;
  border-radius: 10px;
  object-fit: cover;
}

.favoriteArticleButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px 2px 0px 0px;
  margin: 0;
}

.favoriteArticleButton i {
  font-size: 24px;
  color: #292830;
}

.favoriteSettings {
  position: absolute;
  top: 10px;
  right: 45px;
  min-width: 150px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.favoriteSettings.open {
  display: block;
}

.favoriteSettings ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.favoriteSettings li {
  padding: 5px 0;
}

.favoriteSettings a {
  text-decoration: none;
  color: #292830;
  cursor: pointer;
}

.favoriteSettings li:hover {
  background-color: rgb(243, 243, 243);
}
