body {
  margin: 0;
  /* background-color: #1f1e1e; */
  /* background-color: #f0efef; */
  background-color: white;
}

p {
  text-align: justify;
  word-spacing: 0.2em;
}
:root {
  --ff-primary: "Open Sans", "Open Sans Fallback", "Segoe UI", Tahoma,
    sans-serif;
  --ff-secondary: Merriweather, "Merriweather Fallback", serif;
  --fs-1: 0.875rem;
  --fw-bold: 700;
}
